* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-spacing: 0;
}

:root {
  --padding: 8px;
}
 
.react-dtable-wrapper {
  font-family: sans-serif;
  font-size: 16px;
}

.react-dtable-wrapper input {
  padding: var(--padding);
  font-size: 1rem;
}
.react-dtable-wrapper button {
  padding: var(--padding);
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;
}

.react-dtable-wrapper button:hover {
  filter: brightness(90%);
}

.react-dtable-wrapper .react-dtable-thead {
  color: #222222;
  font-weight: 500;
  background: #ddd;
}

.react-dtable-thead th {
  padding: var(--padding);
  border: 0.2px solid #ddd;
}

.react-dtable-wrapper tbody td {
  border: 0.1px solid #ddd;
  padding: var(--padding);
}

.react-dtable-wrapper .react-dtable-pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: var(--padding);
  font-size: 1rem;
}

.react-dtable-wrapper .react-dtable-pagination select {
  padding: var(--padding);
}
.react-dtable-wrapper .react-dtable-pagination .pages button {
  min-width: 30px;
  border-radius: 0;
  border: none;
  cursor: pointer;
  color: #222222;
  font-weight: 500;
  background: #ddd;
}

.react-dtable-wrapper .react-dtable-pagination .pages button.active {
  background-color: #cccccc;
}
.react-dtable-wrapper .react-dtable-pagination .pages button:active {
  background-color: #aaa;
}
.react-dtable-wrapper .react-dtable-pagination .pages button:disabled {
  background-color: #ccc;
}
